<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <style type="text/css">
        body,
        p,
        div {
            font-family: arial, helvetica, sans-serif;
            font-size: 14px;
        }

        body {
            color: #000000;
        }

        body a {
            color: #1188E6;
            text-decoration: none;
        }

        p {
            margin: 0;
            padding: 0;
        }

        table.wrapper {
            width: 100% !important;
            table-layout: fixed;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
        }

        img.max-width {
            max-width: 100% !important;
        }

        @media screen and (max-width: 480px) {
            .preheader .rightColumnContent div,
            .preheader .rightColumnContent span,
            .footer .rightColumnContent div,
            .footer .rightColumnContent span {
                text-align: left !important;
            }

            table.wrapper-mobile {
                width: 100% !important;
                table-layout: fixed;
            }

            img.max-width {
                height: auto !important;
                max-width: 100% !important;
            }

            .column {
                display: block !important;
                width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }
        }
    </style>
</head>
<body style="background-color:#f1f3f7">
<center class="wrapper">
    <div class="webkit">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#f1f3f7">
            <tbody>
            <tr>
                <td valign="top" bgcolor="#f1f3f7" width="100%">
                    <table width="100%" class="outer" align="center" cellpadding="0"
                           cellspacing="0" border="0">
                        <tbody>
                        <tr>
                            <td width="100%">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0"
                                                   style="width:100%; max-width:600px;" align="center">
                                                <tbody>
                                                <tr>
                                                    <td style="padding:0px 0px 0px 0px; color:#000000; text-align:left;"
                                                        bgcolor="#f1f3f7" width="100%" align="left">
                                                        <table class="module" border="0" cellpadding="0" cellspacing="0"
                                                               width="100%" style="table-layout: fixed;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding:0px 0px 25px 0px;"
                                                                    bgcolor="#f1f3f7"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" align="center"
                                                               width="100%"
                                                               style="padding:0px 0px 0px 0px;" bgcolor="#F1F3F7">
                                                            <tbody>
                                                            <tr>
                                                                <td height="100%" valign="top">
                                                                    <table class="column" width="300"
                                                                           style="width:300px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;"
                                                                           cellpadding="0" cellspacing="0" align="left"
                                                                           border="0" bgColor="#f1f3f7">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="padding:0px;margin:0px;border-spacing:0;">
                                                                                <table class="wrapper" border="0"
                                                                                       cellpadding="0" cellspacing="0"
                                                                                       width="100%"
                                                                                       style="table-layout: fixed;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="font-size:6px; line-height:10px; padding:0px 0px 0px 0px;"
                                                                                            valign="top" align="left">
                                                                                            <img class="max-width"
                                                                                                 border="0"
                                                                                                 style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px;"
                                                                                                 width="206" alt=""
                                                                                                 src="http://cdn.mcauto-images-production.sendgrid.net/b10092721ecf5070/ac75891c-2691-415c-8f7a-c32f68f1c856/408x100.png"
                                                                                                 height="50">
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table class="column" width="300"
                                                                           style="width:300px; border-spacing:0; border-collapse:collapse; margin:0px 0px 0px 0px;"
                                                                           cellpadding="0" cellspacing="0" align="left"
                                                                           border="0" bgColor="#f1f3f7">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="padding:0px;margin:0px;border-spacing:0;">
                                                                                <table class="module" border="0"
                                                                                       cellpadding="0" cellspacing="0"
                                                                                       width="100%"
                                                                                       style="table-layout: fixed;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;"
                                                                                            height="100%" valign="top"
                                                                                            bgColor="#f1f3f7">
                                                                                            <div>
                                                                                                <div style="font-family: inherit; text-align: right">
                                                                                                    <span style="color: #8c8b8b">Password Reset</span>
                                                                                                </div>
                                                                                                <div></div>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="module" border="0" cellpadding="0" cellspacing="0"
                                                               width="100%" style="table-layout: fixed;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding:0px 0px 25px 0px;"
                                                                    bgColor="#f1f3f7"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="module" border="0" cellpadding="0" cellspacing="0"
                                                               width="100%" style="table-layout: fixed;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding:40px 20px 40px 20px; line-height:22px; text-align:inherit; background-color:#FFF;"
                                                                    height="100%" valign="top" bgcolor="#FFF">
                                                                    <div>
                                                                        <div style="font-family: inherit; text-align: left">
                                                                            <span style="font-size: 20px; color: #c9002a">
                                                                                Hello  <%= fullName %>
                                                                            </span>
                                                                        </div>
                                                                        <div style="font-family: inherit; text-align: inherit">
                                                                            <br>
                                                                        </div>
                                                                        <div style="font-family: inherit; text-align: left">
                                                                            <span style="font-size: 16px">
                                                                                Please reset your password clicking on the link below.
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" class="module"
                                                               style="table-layout:fixed;" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td align="center" bgcolor="#ffffff" class="outer-td"
                                                                    style="padding:20px 0px 40px 0px; background-color:#ffffff;">
                                                                    <table border="0" cellpadding="0" cellspacing="0"
                                                                           class="wrapper-mobile"
                                                                           style="text-align:center;">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td align="center" bgcolor="#c9002a"
                                                                                class="inner-td"
                                                                                style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;">
                                                                                <a href="<%= resetLink %>"
                                                                                   style="background-color:#c9002a;border:0px solid #c9002a;border-color:#c9002a;border-radius:25px;border-width:0px; color:#ffffff; display:inline-block; font-size:14px; font-weight:normal; letter-spacing:0px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid;"
                                                                                   target="_blank">
                                                                                    Reset Password
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="module" border="0" cellpadding="0" cellspacing="0"
                                                               width="100%" style="table-layout: fixed;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding:0px 0px 30px 0px;"
                                                                    bgColor="#f1f3f7"></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table class="module" cellpadding="0" cellspacing="0"
                                                               width="100%" style="table-layout: fixed;">
                                                            <tbody>
                                                            <tr>
                                                                <td style="padding:0px 20px 18px 20px; line-height:22px; text-align:inherit;"
                                                                    height="100%" valign="top">
                                                                    <div>
                                                                        <div style="font-family: inherit; text-align: center">
                                                                            <%= footerText1 %>
                                                                            <a href="https://logadog.com">logadog.com</a>
                                                                        </div>
                                                                        <div style="font-family: inherit; text-align: center">
                                                                            <%= footerText2 %>
                                                                            <a href="https://logadog.com"><%= footerText3 %></a>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</center>
</body>
</html>
